.product-title {
    font-size: 1.25em;
    margin: 0.5em 0;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bolder;
    margin: 0;
}

.product-container:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    border: 2px solid var(--secondary-color);
}

.modal-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.modal-contents > img {
    max-width: 100%;
    height: auto;
}

.modal-details {
    text-align: center;
    padding: 2em 1em;
}

.add-to-cart-button, .added-to-cart-button {
    font-size: large;
    border-radius: 2px;
    padding: 0.75em;
    margin: 1em 0;
}

.add-to-cart-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.added-to-cart-button {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.add-to-cart-button:hover {
    cursor: pointer;
}
