#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

#name-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 4em;
}

#cart {
    font-size: large;
    display: flex;
    align-items: center;
}