.cart-container {
    display: block;
    width: 80%;
    margin: auto;
}

.checkout-section {
    text-align: center;
    margin: 2em 0;
}

.checkout-section > p {
    font-size: large;
}

.checkout-section > button {
    margin: 0;
}