@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --primary-color: #489e8c;
    --secondary-color: #eee;
}

#title {
    font-family: 'Poiret One', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0 0.25em;
    padding: 0;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
